* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #947B84;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-container {
  width: 100%;
  max-width: 450px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  height: 24rem;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  font-size: 0.9rem;
  color: #333;
}

.form-control {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 0.25rem;
}

.form-control:focus {
  border-color: #7B948B;
  outline: none;
}

.btn-container {
  margin-top: 1.5rem;
}

.btn {
  width: 100%;
  padding: 0.75rem;
  background-color: #7B948B;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #6a7a73;
}

.create-account-link {
  color: #7B948B;
  text-decoration: none;
  font-size: 1rem;
}

.create-account-link:hover {
  text-decoration: underline;
}

.text-center p {
  font-size: 1rem;
  color: #333;
  margin-top: 1rem;
  line-height: 1.5;
}