* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 26px;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}

.sidebar {
  width: 8rem;
  background-color: #947B84;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  padding: 2rem 0;
  cursor:pointer;
}

.sidebar-btn {
  width: 4rem;
  height: 4rem;
  background-color: #7B948B;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-bottom: 2rem;
}

.sidebar-btn:hover {
  border: 2px solid black;
}

.sidebar-icon {
  width: 2rem;
  height: 2rem;
  fill: white;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 8rem;
  height: 100vh;
}

.content {
  padding: 2rem;
  flex: 1;
  background-color: #f9f9f9;
}

footer {
  background-color: #947B84;
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer a {
  color: white;
  text-decoration: none;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.box {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 0.8rem;
  padding: 2rem;
  margin-top: 2rem;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

.box h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}

.box p {
  font-size: 18px;
  color: #555;
  margin: 8px 0;
}

#balance {
  font-weight: bold;
}

.bento {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 2rem;
}

#recordatorio button {
  background-color: #7B948B;
  border-radius: .5rem;
  padding: .5rem 1rem;
  color: white;
  border: none;
}

#recordatorio button:last-child {
  margin-top: 1rem;
}

#recordatorio form {
  display: flex;
  flex-direction: column;
}

#recordatorio label {
  margin: 1rem 0 .5rem 0;
}

#recordatorio input {
  height: 2rem;
  padding: .5rem;
}